<html>
    <h3>Admin Id:<%=ADMIN.adminid %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font color='green'><%=ADMIN.adminname %></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/<%=ADMIN.picture%>' width='25' height='25'></h3>
        <hr color='red'>
<table>
<tr>
    <td valign='top'>
    <a target='mw' href='/laptop/supplierinterface'>Add Supplier</a><br>
    <a target='mw' href='/laptop/displays'>All Supplier</a><br>
    <a target='_blank' href='/adm/logout'>Logout</a><br>
   </td>    
<td>
<iframe width='700' height='700' name='mw' frameborder='0'>

</iframe>

</td>
</tr>

</table>

</html>