<script src='/javascripts/jquery-2.2.1.min.js'></script>
<script src='/javascripts/search.js'></script>
<html>
<center> 
    <input type='text' id='txt' placeholder='Supplier You Want To Search' size='60'><br><br><br>   
<div id='result'></div>
</center>
    </html>